/* Style thecontainer */
.about-me {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

/* Style the heading */
.about-me h2 {
    font-family: Verdana, sans-serif; 
    color: #01200F; 
    font-size: 28px; 
}

/* Style the paragraph text */
.about-me p {
    font-family: Verdana, sans-serif; 
    font-size: 16px; 
    margin-top: 10px; 
}

/* Style the photo */
.profile-photo {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #333; 
    margin-bottom: 20px;
}

.profile-photo {
    max-width: 300px; 
    max-height: 200px; 
}
